<html lang="en">
<head>
    <link rel = "stylesheet" href = "/css/style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger - Log In</title>
</head>
<body>
    <div class="main-section">
    <h1>Blogger</h1>
    <form method ='POST' action= "/account/login">
    
        <input type="text" placeholder="Username" name="username">

        <input type="password" placeholder="Password" name="password">

        <button>Log In</button>
    </form>
    <a href="/account/register">Register for an Account</a>
    <p>{{errorMessage}} {{logoutMessage}} {{message}} {{loginMessage}}</p>
    </div>
</body>
</html>